html {
  scroll-behavior: smooth;
  background-image: radial-gradient(circle, #006064, #26C6DA);
}

.data_container {
  display: flex;
  justify-content: center;
  color: #fff;
}

.Key {
  display: flex;
  color:white;
  justify-content: center;
  position: sticky;
  top: 0;
  background-color: #858585f5;
}

.Key p {
  margin-left: 2rem;
  margin-right: 2rem;
  width: 200px;
  text-align:center;
}

.App h1, .about {
  text-align: center;
  color: #fff;
}

.container {
  padding:0 50px 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.completed img {
  height: 25px;
  vertical-align: bottom;
}

.needToComplete p {
  background-color: #8C1612;
  color: #fff;
  border-radius: 15px;
  padding:10px;
}

.challenge h2 {
  font-weight: normal;
}


.card {
  padding: 10px;
    border-radius: 25px;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.137);
    border: 2px solid #006064;
}

.menu ul {
  text-align: center;
  padding: 0;
}

.menu li {
  list-style-type: none;
  padding: 5px;
}

.menu a {
  color: #fff;
  font-size: 2rem;
}

.pinnacle {
  height: 15px;
  width: 15px;
  background-color: rgb(214, 238, 0);
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}

.powerful-1 {
  height: 15px;
  width: 15px;
  background-color: rgb(14, 167, 0);
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}

.powerful-2 {
  height: 15px;
  width: 15px;
  background-color: rgb(0, 40, 172);
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}

.powerful-3 {
  height: 15px;
  width: 15px;
  background-color: rgb(95, 0, 114);
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}

#andrew, #ian, #joe {
  color: #fff;
}

.destiny_image {
  width: 450px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 25px;
}

@media screen and (max-width: 500px) {
  .data_container {
    display: block;
  }
  .Key {
    display: block;
  }
  .Key p {
    width: auto;
  }
}

@media screen and (min-width: 501px) {
  .menu {
    display: none;
  }
}
