html {
  scroll-behavior: smooth;
}

.data_container {
  display: flex;
  justify-content: center;
  background-image: url(./images/hero_bg_desktop.png);
  background-size: contain;
}

.Key {
  display: flex;
  color:white;
  justify-content: center;
}

.Key p {
  margin-left: 2rem;
  margin-right: 2rem;
  width: 200px;
  text-align:center;
}

.App, html {
  background-color: #000;
}

.App h1, .about {
  text-align: center;
  color: #fff;
}

.container {
  padding:0 50px 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.needToComplete p {
  background-color: #8C1612;
  color: #fff;
}

.challenge h2 {
  text-decoration: underline;
  font-weight: normal;
}

.card {
  padding: 10px;
    border-radius: 25px;
    background-color: #7e8082;
    margin-top: 20px;
}

.menu ul {
  text-align: center;
  padding: 0;
}

.menu li {
  list-style-type: none;
  padding: 5px;
}

.menu a {
  color: #7e8082;
  font-size: 2rem;
}

.pinnacle {
  height: 15px;
  width: 15px;
  background-color: rgb(214, 238, 0);
  border-radius: 50%;
  display: inline-block;
}

.powerful-1 {
  height: 15px;
  width: 15px;
  background-color: rgb(3, 70, 216);
  border-radius: 50%;
  display: inline-block;
}

.powerful-2 {
  height: 15px;
  width: 15px;
  background-color: rgb(95, 0, 114);
  border-radius: 50%;
  display: inline-block;
}

#andrew, #ian, #joe {
  color: #fff;
}

@media screen and (max-width: 500px) {
  .data_container {
    display: block;
  }
}

@media screen and (min-width: 501px) {
  .menu {
    display: none;
  }
}
